<h1> <%= @merchant.name %> </h1>
<br>
<%= button_to "Create New Item", new_merchant_item_path(@merchant), method: :get %>
<br>
<div id="items-column">
  <div id="enabled-items">
    <h3>Enabled Items</h3>
    <% @merchant.enabled_items.each do |item| %>
    <ul>
      <li id="merchant-<%= item.id %>">
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: :true do |f| %>
      <% if item.status == "disabled" %>
        <%= f.hidden_field :status, value: "disabled" %>
        <%= f.radio_button :status, "disabled", checked: true %>
        <%= f.label :status_disabled, "Disable" %>
        <br>
        <%= f.radio_button :status, "enabled" %>
        <%= f.label :status_enabled, "Enable" %>
      <% else %>
        <%= f.hidden_field :status, value: "enabled" %>
        <%= f.radio_button :status, "disabled" %>
        <%= f.label :status_disabled, "Disable" %>
        <br>
        <%= f.radio_button :status, "enabled", checked: true %>
        <%= f.label :status_enabled, "Enable" %>
      <% end %>
      <br>
      <%= f.submit "Update" %>
    <% end %>
      </li>
    </ul>
    <% end %>
  </div>
  <div id="disabled-items">
  <h3>Disabled Items</h3>
    <% @merchant.disabled_items.each do |item| %>
      <ul>
        <li id="merchant-<%= item.id %>">
        <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, local: :true do |f| %>
        <% if item.status == "disabled" %>
          <%= f.hidden_field :status, value: "disabled" %>
          <%= f.radio_button :status, "disabled", checked: true %>
          <%= f.label :status_disabled, "Disable" %>
          <br>
          <%= f.radio_button :status, "enabled" %>
          <%= f.label :status_enabled, "Enable" %>
        <% else %>
          <%= f.hidden_field :status, value: "enabled" %>
          <%= f.radio_button :status, "disabled" %>
          <%= f.label :status_disabled, "Disable" %>
          <br>
          <%= f.radio_button :status, "enabled", checked: true %>
          <%= f.label :status_enabled, "Enable" %>
        <% end %>
        <br>
        <%= f.submit "Update" %>
      <% end %>
        </li>
      </ul>
      <% end %>
  </div>
</div>

<div id=top-five-items>
  <h3>Top Items</h3>
  <ul>
  <% @merchant.top_five_items.each do |item| %>
    <li><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> - $<%= item.total_revenue %> in sales</li>
  <% end %>
  </ul>



</div>