<h2> <%= @merchant.name %> </h2>

<h3><%= @item.name %></h3>
<p>Desciption: <%= @item.description %></p>
<p>Current Price: <%= @item.unit_price %> </p>
<%= button_to 'Update Item', "/merchants/#{@merchant.id}/items/#{@item.id}/edit", method: :get %>