<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="border: solid black;">
    <h1 style="font-size:60px; background-color:lightgrey; padding:10px; margin-right:600px; margin-left:600px; margin-top:0px;">
    <center>Little Esty Shop</h1>
  <body>
  <center><%= image_tag logo %></center>
  <center>Likes: <%= show_logo_likes %></center>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
